In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nas.csv')

In [3]:
df.head(10)

,STUID,State,District,Gender,Age,Category,Same.language,Siblings,Handicap,Father.edu,...,Express.science.views,Watch.TV,Read.magazine,Read.a.book,Play.games,Help.in.household,Maths..,Reading..,Science..,Social..
0,26011001001,Maharashtra,1,Girl,13 years,3.0,2.0,1 sibling,No,Illiterate,...,Agree,Every day,Never,Once a month,Once a week,Every day,NaN,33.33,NaN,NaN
1,26011001002,Maharashtra,1,Girl,15 years,3.0,2.0,3 siblings,No,NaN,...,Agree,Once a week,Never,Never,Once a week,Every day,NaN,62.07,NaN,NaN
2,26011001003,Maharashtra,1,Girl,14 years,3.0,2.0,3 siblings,No,Degree & above,...,Agree,Every day,Once a month,Once a month,Once a week,Every day,NaN,41.38,NaN,NaN
3,26011001004,Maharashtra,1,Boy,13 years,3.0,2.0,3 siblings,No,Secondary,...,Agree,Every day,Every day,Never,Every day,Every day,29.82,NaN,NaN,NaN
4,26011001005,Maharashtra,1,Girl,14 years,3.0,2.0,2 siblings,No,Primary,...,Neither,Never,Never,Once a month,Once a week,Every day,NaN,NaN,27.27,NaN
5,26011001006,Maharashtra,1,Girl,13 years,3.0,2.0,2 siblings,No,Primary,...,Agree,Every day,Once a week,Once a month,Once a week,Every day,NaN,NaN,27.27,NaN
6,26011001007,Maharashtra,1,Girl,14 years,1.0,2.0,1 sibling,No,NaN,...,Agree,Every day,Every day,Never,Every day,Every day,NaN,NaN,NaN,28.57
7,26011001013,Maharashtra,1,Girl,NaN,1.0,2.0,4+ siblings,No,Sr secondary,...,Neither,Every day,Never,Never,Once a week,Every day,NaN,NaN,18.18,NaN
8,26011001014,Maharashtra,1,Girl,NaN,2.0,2.0,2 siblings,No,Primary,...,Agree,Every day,Never,Never,Once a month,Every day,NaN,NaN,23.64,NaN
9,26011001015,Maharashtra,1,Girl,13 years,4.0,2.0,4+ siblings,No,Secondary,...,Neither,Every day,Never,Never,Once a week,Every day,NaN,NaN,NaN,26.53